= form_for @visitor_mail, :html => {:id => 'visitor_mail_from', :class => 'form-horizontal' } do |f|
  %fieldset
    -if @visitor_mail.errors.any?
      .row-fluid
        .span6
          #error_explanation
            %h2= "#{pluralize(@visitor_mail.errors.count, "error")}"
            %ul
              - @visitor_mail.errors.full_messages.each do |msg|
                %li= msg
    %p#notice= notice
    .control-group
      = f.label :your_name, :class => 'control-label'
      .controls
        = f.text_field :from_name,  :class => 'text_field', :required => true
  
    .control-group
      = f.label :your_email, :class => 'control-label'
      .controls
        = f.text_field :from_email,  :class => 'text_field', :required => true
  
    .control-group
      = f.label :your_mobile, :class => 'control-label'
      .controls
        = f.text_field :from_mobile,  :class => 'text_field', :required => true
  
    .control-group
      = f.label :subject_id, :class => 'control-label'
      .controls
        = f.select :visitor_mail_subject_id, VisitorMailSubject.all.map{|s| [s.subject, s.id]} , {:include_blank => false}, :required => true
  
    .control-group
      = f.label :message, :class => 'control-label'
      .controls
        = f.text_area :message,  :class => 'text_area', :required => true
  
  .form-actions
    = f.submit 'Submit', :class => 'btn btn-primary'
    = link_to 'Cancel', :back, :class => 'btn'
