- content_for :title do
  Visitor mails

- content_for :subheader do
  .page-header
    %h2 Listing visitor mails

%h4.pull-right
  = link_to 'New Visitor mail', new_visitor_mail_path, :class =>  'btn btn-large'

%br

.row-fluid
  %ul.pager.pull-right
    %li
      = link_to_previous_page @visitor_mails, 'Previous Page'
    %li
      = link_to_next_page @visitor_mails, 'Next Page'

%table.table.table-striped
  %thead
    %tr
      %th From email
      %th From mobile
      %th Subject
      %th Message
      %th To emails
      %th{:width =>"10%"}
      %th{:width =>"10%"} Actions
      %th{:width =>"10%"}
  %tbody
    - @visitor_mails.each do |visitor_mail|
      %tr
        %td= visitor_mail.from_email
        %td= visitor_mail.from_mobile
        %td= visitor_mail.subject_id
        %td= visitor_mail.message
        %td= visitor_mail.to_emails
        %td= link_to "<i class='icon-eye-open'></i> Show".html_safe, visitor_mail, :class => 'btn btn-small'
        %td= link_to "<i class='icon-pencil'></i> Edit".html_safe, edit_visitor_mail_path(visitor_mail), :class => 'btn btn-small'
        %td= link_to "<i class='icon-trash'></i> Delete".html_safe, visitor_mail, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-small'

    - if @visitor_mails.blank?
      %tr
        %td{:colspan=>"#{5 + 3}", :style=>"text-align:center"} NO DATA AVAILABLE

.row-fluid
  %ul.pager.pull-right
    %li
      = link_to_previous_page @visitor_mails, 'Previous Page'
    %li
      = link_to_next_page @visitor_mails, 'Next Page'
