- content_for :title do
  Show visitor_mail

- content_for :subheader do
  .page-header
    %h2 Show visitor_mail

.row-fluid
  = link_to "<i class='icon-pencil'></i>Edit".html_safe, edit_visitor_mail_path(@visitor_mail), :class => "btn btn-small pull-right", :style => "margin-left: 15px;"
  = link_to "<i class='icon-list'></i>Back".html_safe, visitor_mails_path, :class => "btn btn-small pull-right"


%p#notice= notice

.form-horizontal
  %fieldset
  
    .control-group
      %label.control-label
        %b From email:
      .controls{:style => 'padding-top: 6px;'}
        = @visitor_mail.from_email
  
    .control-group
      %label.control-label
        %b From mobile:
      .controls{:style => 'padding-top: 6px;'}
        = @visitor_mail.from_mobile
  
    .control-group
      %label.control-label
        %b Subject:
      .controls{:style => 'padding-top: 6px;'}
        = VisitorMailSubject.find(@visitor_mail.subject_id).subject
  
    .control-group
      %label.control-label
        %b Message:
      .controls{:style => 'padding-top: 6px;'}
        = @visitor_mail.message
  
    .control-group
      %label.control-label
        %b To emails:
      .controls{:style => 'padding-top: 6px;'}
        = @visitor_mail.to_emails

.row-fluid
  %small.muted
    Created by: #{@visitor_mail.created_by}, Updated by: #{@visitor_mail.updated_by},
  %small.muted
    Created at: #{date_format @visitor_mail.created_at}, Updated at: #{date_format @visitor_mail.updated_at}
