- content_for :title do
  Current Notifications
  
- content_for :navbar_notifications do
  %li.active
    %a{:href => "/current_notifications"} Notifications

- content_for :subheader do
  .page-header
    %h3
      Notifications

.row-fluid
  .row-fluid
    %ul.pager.pull-right
      %li
        = link_to_previous_page @notifications, 'Previous Page'
      %li
        = link_to_next_page @notifications, 'Next Page'

  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th Please Note...
        %th Name
        %th Date & Time
        %th Address
    %tbody
      - @notifications.each do |notification|
        - if notification.notification_type == 'Final Rites'
          - sad_demise = Notification.where("id = ? AND date_time < ?", notification.sad_demise_id, Date.today.to_time)
          - unless sad_demise.blank?
            - sad_demise = sad_demise.first
            %tr
              %td= sad_demise.notification_type
              %td= sad_demise.death_of
              %td= date_format sad_demise.date_time
              %td= sad_demise.address
        %tr
          %td= notification.notification_type
          %td= notification.death_of
          - if notification.notification_type == 'Condolence Meeting'
            %td= "#{date_format notification.date_time} - #{date_format (notification.date_time + 30.minutes), '%I:%M %p'}"
          - else
            %td= date_format notification.date_time
          %td= notification.address
        
      - if @notifications.blank?
        %tr
          %td{:colspan=>"4", :style=>"text-align:center"} NO NEW NOTIFICATIONS

  .row-fluid
    %ul.pager.pull-right
      %li
        = link_to_previous_page @notifications, 'Previous Page'
      %li
        = link_to_next_page @notifications, 'Next Page'
  
:javascript
   window.setTimeout('location.reload()', 60000);
