- content_for :title do
  Show visitor mail subject

- content_for :subheader do
  .page-header
    %h2 Show visitor mail subject

.row-fluid
  = link_to "<i class='icon-pencil'></i>Edit".html_safe, edit_visitor_mail_subject_path(@visitor_mail_subject), :class => "btn btn-small pull-right", :style => "margin-left: 15px;"
  = link_to "<i class='icon-list'></i>Back".html_safe, visitor_mail_subjects_path, :class => "btn btn-small pull-right"


%p#notice= notice

.form-horizontal
  %fieldset
  
    .control-group
      %label.control-label
        %b Subject:
      .controls{:style => 'padding-top: 6px;'}
        = @visitor_mail_subject.subject
    .control-group
      %label.control-label
        %b Emails:
      .controls.controls{:style => 'padding-top: 6px;'}
        %table.table.table-bordered
          %thead
            %tr
              %th Type:
              %th Email:
          %tbody
            - @visitor_mail_subject.subject_email_details.each do |d|
              = render 'visitor_mail_subjects/subject_email_detail', :f => d
  
.row-fluid
  %small.muted
    Created by: #{@visitor_mail_subject.created_by}, Updated by: #{@visitor_mail_subject.updated_by},
  %small.muted
    Created at: #{date_format @visitor_mail_subject.created_at}, Updated at: #{date_format @visitor_mail_subject.updated_at}
