= form_for @notification, :html => {:id => 'notification_form', :class => "form-horizontal"} do |f|
  - if @notification.errors.any?
    .row-fluid
      .span6
        #error_explanation
          %h2= "#{pluralize(@notification.errors.count, "error")}:"
          %ul
            - @notification.errors.full_messages.each do |msg|
              %li= msg

  %fieldset
    .control-group
      = f.label :date, "Date time", :class => 'control-label'
      .controls
        = f.text_field :date_time, :value => date_format(f.object.date_time) , :required => true
    .control-group
      = f.label :type, "Type", :class => 'control-label'
      .controls
        = f.select :notification_type, ['Death', 'Final Rights', 'Condolence'], {:include_blank => false}, :required => true
    .control-group
      = f.label :death_of, "Death of", :class => 'control-label'
      .controls
        = f.text_field :death_of, :required => true
    .control-group
      = f.label :address, "Address", :class => 'control-label'
      .controls
        = f.text_area :address, :col => 40, :rows => 10, :required => true
  .form-actions
    = f.submit 'Save'

:javascript
  $(document).ready(function() { 
    $('#notification_date_time').datetimepicker({
          controlType: 'select',
          dateFormat: 'M dd, yy',
          timeFormat: 'hh:mm tt',
          stepMinute: 15
    });
  });
