- content_for :title do
  Notifications

- content_for :subheader do
  .page-header
    %h2 Listing notifications

%h4.pull-right
  = link_to 'New Notification', new_notification_path, :class =>  'btn btn-large'

%br


.row-fluid
  %ul.pager.pull-right
    %li
      = link_to_previous_page @notifications, 'Previous Page'
    %li
      = link_to_next_page @notifications, 'Next Page'

%table.table.table-striped
  %thead
    %tr
      %th Datetime
      %th Type
      %th Death of
      %th{:width =>"10%"}
      %th{:width =>"10%"} Actions
      %th{:width =>"11%"}
  %tbody
    - @notifications.each do |notification|
      %tr
        %td= date_format notification.date_time
        %td= notification.notification_type
        %td= notification.death_of
        %td= link_to "<i class='icon-eye-open'></i> Show".html_safe, notification, :class => 'btn btn-small'
        %td= link_to "<i class='icon-pencil'></i> Edit".html_safe, edit_notification_path(notification), :class => 'btn btn-small'
        %td= link_to "<i class='icon-trash'></i> Delete".html_safe, notification, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-small'
    - if @notifications.blank?
      %tr
        %td{:colspan=>"#{3+3}", :style=>"text-align:center"} NO DATA AVAILABLE

.row-fluid
  %ul.pager.pull-right
    %li
      = link_to_previous_page @notifications, 'Previous Page'
    %li
      = link_to_next_page @notifications, 'Next Page'

= render 'shared/back_to_dashboard_link'
