- content_for :title do
  Show Notification

- content_for :subheader do
  .page-header
    %h2 Show Notification

.row-fluid.pull-right
  = link_to "<i class='icon-pencil'></i>Edit".html_safe, edit_notification_path(@notification), :class => "btn btn-small pull-right", :style => "margin-left: 15px;"
  = link_to "<i class='icon-list'></i>Back".html_safe, notifications_path, :class => "btn btn-small pull-right"

%p#notice= notice

.form-horizontal
  %fieldset

    .control-group
      %label.control-label
        %b Date time:
      .controls{:style => 'padding-top: 6px;'}
        = date_format @notification.date_time

    .control-group
      %label.control-label
        %b Type:
      .controls{:style => 'padding-top: 6px;'}
        = @notification.notification_type

    .control-group
      %label.control-label
        %b Death of:
      .controls{:style => 'padding-top: 6px;'}
        = @notification.death_of
  
    .control-group
      %label.control-label
        %b Address:
      .controls{:style => 'padding-top: 6px;'}
        = @notification.address
.row-fluid
  - if ['Final Rites', 'Sad Demise'].include? @notification.notification_type and Notification.where(:notification_type => 'Condolence Meeting', :death_of => @notification.death_of).blank?
    = link_to "<i class='icon-file'></i> Make Condolence Meeting Notification".html_safe, "#{new_notification_path}?notification_type=Condolence Meeting&id=#{@notification.id}", :class => "btn btn-small pull-right", :style => "margin-left: 15px;"
  - if @notification.notification_type == 'Sad Demise' and @notification.hide == false
    = link_to "<i class='icon-file'></i> Make Final Rites Notification".html_safe, "#{new_notification_path}?notification_type=Final Rites&id=#{@notification.id}", :class => "btn btn-small pull-right", :style => "margin-left: 15px;"

.row-fluid
  %small.muted
    Created by: #{@notification.created_by}, Updated by: #{@notification.updated_by},
  %small.muted
    Created at: #{date_format @notification.created_at}, Updated at: #{date_format @notification.updated_at}
