- content_for :title do
  events

- content_for :subheader do
  .page-header
    %h2 Listing events

%h4.pull-right
  = link_to 'New Event', new_event_path, :class =>  'btn btn-large'

%br

.row-fluid
  %ul.pager.pull-right
    %li
      = link_to_previous_page @events, 'Previous Page'
    %li
      = link_to_next_page @events, 'Next Page'

%table.table.table-striped
  %thead
    %tr
      %th From date time
      %th To date time
      %th Event type
      %th Booked by
      %th Booked
      %th{:width =>"10%"}
      %th{:width =>"10%"} Actions
      %th{:width =>"10%"}
  %tbody
    - @events.each do |event|
      %tr
        %td= date_format event.from_date_time
        %td= date_format event.to_date_time
        %td= EventType.find(event.event_type_id).display_name
        %td= event.booked_by
        %td= event.description
        %td= link_to "<i class='icon-eye-open'></i> Show".html_safe, event, :class => 'btn btn-small'
        %td= link_to "<i class='icon-pencil'></i> Edit".html_safe, edit_event_path(event), :class => 'btn btn-small'
        %td= link_to "<i class='icon-trash'></i> Delete".html_safe, event, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-small'

    - if @events.blank?
      %tr
        %td{:colspan=>"#{5 + 3}", :style=>"text-align:center"} NO DATA AVAILABLE

.row-fluid
  %ul.pager.pull-right
    %li
      = link_to_previous_page @events, 'Previous Page'
    %li
      = link_to_next_page @events, 'Next Page'
