- content_for :title do
  Committee emails

- content_for :subheader do
  .page-header
    %h2 Listing Committee emails

%h4.pull-right
  = link_to 'New Committee email', new_committee_email_path, :class =>  'btn btn-large'

%br

.row-fluid
  %ul.pager.pull-right
    %li
      = link_to_previous_page @committee_emails, 'Previous Page'
    %li
      = link_to_next_page @committee_emails, 'Next Page'

%table.table.table-striped
  %thead
    %tr
      %th Email
      %th Person
      %th Mobile
      %th{:width =>"10%"}
      %th{:width =>"10%"} Actions
      %th{:width =>"11%"}
  %tbody
    - @committee_emails.each do |committee_email|
      %tr
        %td= committee_email.email
        %td= committee_email.person
        %td= committee_email.mobile
        %td= link_to "<i class='icon-eye-open'></i> Show".html_safe, committee_email, :class => 'btn btn-small'
        %td= link_to "<i class='icon-pencil'></i> Edit".html_safe, edit_committee_email_path(committee_email), :class => 'btn btn-small'
        %td= link_to "<i class='icon-trash'></i> Delete".html_safe, committee_email, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-small'

    - if @committee_emails.blank?
      %tr
        %td{:colspan=>"#{3 + 3}", :style=>"text-align:center"} NO DATA AVAILABLE

.row-fluid
  %ul.pager.pull-right
    %li
      = link_to_previous_page @committee_emails, 'Previous Page'
    %li
      = link_to_next_page @committee_emails, 'Next Page'

= render 'shared/back_to_dashboard_link'
