= form_for @<%= singular_table_name %>, :html => {:id => '<%= singular_table_name%>_from', :class => 'form-horizontal' } do |f|
  %fieldset
    -if @<%= singular_table_name %>.errors.any?
      .row-fluid
        .span6
          #error_explanation
            %h2= "#{pluralize(@<%= singular_table_name %>.errors.count, "error")}"
            %ul
              - @<%= singular_table_name %>.errors.full_messages.each do |msg|
                %li= msg
    
  <% for attribute in attributes %>
    .control-group
      = f.label :<%= attribute.name %>, :class => 'control-label'
      .controls
        = f.<%= attribute.field_type %> :<%= attribute.name %>,  :class => '<%= attribute.field_type %>', :required => true
  <% end %>
  .form-actions
    = f.submit 'Save', :class => 'btn btn-primary'
    = link_to 'Cancel', :back, :class => 'btn'





