- content_for :title do
  <%= plural_table_name %>

- content_for :subheader do
  .page-header
    %h2 Listing <%= plural_table_name %>

%h4.pull-right
  = link_to 'New <%= human_name %>', new_<%= singular_table_name %>_path, :class =>  'btn btn-large'

%br

.row-fluid
  %ul.pager.pull-right
    %li
      = link_to_previous_page @<%= plural_table_name %>, 'Previous Page'
    %li
      = link_to_next_page @<%= plural_table_name %>, 'Next Page'

%table.table.table-striped
  %thead
    %tr
  <% for attribute in attributes -%>
    %th <%= attribute.human_name %>
  <% end -%>
    %th{:width =>"10%"}
      %th{:width =>"10%"} Actions
      %th{:width =>"10%"}
  %tbody
    - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
      %tr
  <% for attribute in attributes -%>
      %td= <%= singular_table_name %>.<%= attribute.name %>
  <% end -%>
      %td= link_to "<i class='icon-eye-open'></i> Show".html_safe, <%= singular_table_name %>, :class => 'btn btn-small'
        %td= link_to "<i class='icon-pencil'></i> Edit".html_safe, edit_<%= singular_table_name %>_path(<%= singular_table_name %>), :class => 'btn btn-small'
        %td= link_to "<i class='icon-trash'></i> Delete".html_safe, <%= singular_table_name %>, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-small'

    - if @<%= plural_table_name %>.blank?
      %tr
        %td{:colspan=>"#{<%=attributes.size%> + 3}", :style=>"text-align:center"} NO DATA AVAILABLE

.row-fluid
  %ul.pager.pull-right
    %li
      = link_to_previous_page @<%= plural_table_name %>, 'Previous Page'
    %li
      = link_to_next_page @<%= plural_table_name %>, 'Next Page'
