- content_for :title do
  Items

- content_for :subheader do
  .page-header
    %h2 Listing items

%h4.pull-right
  = link_to 'New Item', new_item_path, :class =>  'btn btn-large'

%br

.row-fluid
  %ul.pager.pull-right
    %li
      = link_to_previous_page @items, 'Previous Page'
    %li
      = link_to_next_page @items, 'Next Page'

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Item type
      %th Description
      %th Uom
      %th{:width =>"10%"}
      %th{:width =>"10%"} Actions
      %th{:width =>"10%"}
  %tbody
    - @items.each do |item|
      %tr
        %td= item.name
        %td= ItemType.find(item.item_type_id).name
        %td= item.description
        %td= Uom.find(item.uom_id).name
        %td= link_to "<i class='icon-eye-open'></i> Show".html_safe, item, :class => 'btn btn-small'
        %td= link_to "<i class='icon-pencil'></i> Edit".html_safe, edit_item_path(item), :class => 'btn btn-small'
        %td= link_to "<i class='icon-trash'></i> Delete".html_safe, item, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-small'

    - if @items.blank?
      %tr
        %td{:colspan=>"#{7 + 3}", :style=>"text-align:center"} NO DATA AVAILABLE

.row-fluid
  %ul.pager.pull-right
    %li
      = link_to_previous_page @items, 'Previous Page'
    %li
      = link_to_next_page @items, 'Next Page'

= render 'shared/back_to_dashboard_link'
