- content_for :title do
  Show item

- content_for :subheader do
  .page-header
    %h2 Show item

.row-fluid
  = link_to "<i class='icon-pencil'></i>Edit".html_safe, edit_item_path(@item), :class => "btn btn-small pull-right", :style => "margin-left: 15px;"
  = link_to "<i class='icon-list'></i>Back".html_safe, items_path, :class => "btn btn-small pull-right"


%p#notice= notice

.form-horizontal
  %fieldset
  
    .control-group
      %label.control-label
        %b Name:
      .controls{:style => 'padding-top: 6px;'}
        = @item.name
  
    .control-group
      %label.control-label
        %b Item type:
      .controls{:style => 'padding-top: 6px;'}
        = ItemType.find(@item.item_type_id).name
  
    .control-group
      %label.control-label
        %b Description:
      .controls{:style => 'padding-top: 6px;'}
        = @item.description
  
    .control-group
      %label.control-label
        %b Uom:
      .controls{:style => 'padding-top: 6px;'}
        = Uom.find(@item.uom_id).name
  
.row-fluid
  %small.muted
    Created by: #{@item.created_by}, Updated by: #{@item.updated_by},
  %small.muted
    Created at: #{date_format @item.created_at}, Updated at: #{date_format @item.updated_at}
