- content_for :title do
  Admin Dashboard

- content_for :subheader do
  .page-header
    %h2 Admin Dashboard

- if notice
  %br/
  %p#notice= notice
  %br/

.page-header
  %h3 Contact Us Form
.row-fluid
  .span4
    = link_to "Committee Emails", committee_emails_path, :class => "btn btn-large"
  .span4
    = link_to "Visitor Mail Subjects", visitor_mail_subjects_path, :class => "btn btn-large"
  .span4
    = link_to "Visitor Mails", visitor_mails_path, :class => "btn btn-large "

.page-header
  %h3 Items Master
.row-fluid
  .span4
    = link_to "UoM", uoms_path, :class => "btn btn-large"
  .span4
    = link_to "Item Types", item_types_path, :class => "btn btn-large"
  .span4
    = link_to "Items", items_path, :class => "btn btn-large "

.page-header
  %h3 Events Form
.row-fluid
  .span4
    = link_to "Event Types", event_types_path, :class => "btn btn-large"
  .span4.hidden-phone
  .span4
    = link_to "Events", events_path, :class => "btn btn-large "

.page-header
  %h3 Notifications Form

.row-fluid
  .span4.hidden-phone
  .span4.hidden-phone
  .span4
    = link_to "Notifications", notifications_path, :class => "btn btn-large "
