- content_for :title do
  uoms

- content_for :subheader do
  .page-header
    %h2 Listing uoms

%h4.pull-right
  = link_to 'New Uom', new_uom_path, :class =>  'btn btn-large'

%br

.row-fluid
  %ul.pager.pull-right
    %li
      = link_to_previous_page @uoms, 'Previous Page'
    %li
      = link_to_next_page @uoms, 'Next Page'

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th{:width =>"10%"}
      %th{:width =>"10%"} Actions
      %th{:width =>"10%"}
  %tbody
    - @uoms.each do |uom|
      %tr
        %td= uom.name
        %td= link_to "<i class='icon-eye-open'></i> Show".html_safe, uom, :class => 'btn btn-small'
        %td= link_to "<i class='icon-pencil'></i> Edit".html_safe, edit_uom_path(uom), :class => 'btn btn-small'
        %td= link_to "<i class='icon-trash'></i> Delete".html_safe, uom, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-small'

    - if @uoms.blank?
      %tr
        %td{:colspan=>"#{1 + 3}", :style=>"text-align:center"} NO DATA AVAILABLE

.row-fluid
  %ul.pager.pull-right
    %li
      = link_to_previous_page @uoms, 'Previous Page'
    %li
      = link_to_next_page @uoms, 'Next Page'

= render 'shared/back_to_dashboard_link'
