- content_for :title do
  Forgot your password?

- content_for :subheader do
  .page-header
    %h2 Forgot your password?

= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post,  :id => 'forgot_password_from', :class => 'form-horizontal' }) do |f|
  %fieldset
    = devise_error_messages!

    .control-group
      = f.label :email, :class => 'control-label'
      .controls
        = f.email_field :email, :autofocus => true, :class => 'text_field', :required => true

  .form-actions
    = f.submit "Send me reset password instructions", :class => 'btn btn-primary'
    %br
    = render "admins/shared/links"
